//color
$primary-color:#b61984;
$on-primary-color:white;
$primary-variant-color:gray;
$secondary-color:yellow;
$on-seconday-color:white;
$secondary-variant-color:cyan;
$background-color:blue;
$on-background-color:red;
$surface-color:green;
$on-surface-color:black;
$error-color:orange;
$on-error-color:white;

$border-color:rgba(0,0,0,.1);
$border-color-hover:rgba(0,0,0,.3);
//dar color

//font size

//font weight

//letter spacing

//padding

//margin

//border

//break points